
.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  height: 100%;
}

h1 {
  text-align: center;
}

.beers {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 50%;
  color: white;
  background-color: #373737;
  border-radius: 5px;
  border-color: transparent;
  text-align: center;
  align-items: center;
    justify-content: center;
}

.tdbeer {
  text-align: center;
  margin-left: 200px;
}

li {
  list-style-type: none;
  margin: 15px;
}

@media (max-width: 480px) {
  .brewer, .price {
    display: none;
  }
}